.input-width{
  width: 100%;
}
.reactiveDiv{
  border: 1px solid grey;
  padding:20px;
  width:50%;
}
.wrap-btn{
  padding-top: 20px;
}
.loginBtn{
  float: right;
  background-color: green;
}
.registerBtn{
  background-color: grey;
}
@media only screen and (max-width:768px){
  .reactiveDiv{
    width:100%;
    display: table-cell;
  }
}