<div class="reactiveDiv">
	<h3>Get Started ! Register Here</h3>
	<form [formGroup]="reactiveForm">
		<mat-form-field class="input-width">
			<input matInput type="text" email placeholder="Email" name="emailId" formControlName="emailId">
    <mat-hint align="end" *ngIf="erroMsg('emailId')">Email is required</mat-hint>
    <mat-hint *ngIf="">Email is not valid</mat-hint>
  </mat-form-field>
  <mat-form-field class="input-width">
			<input matInput placeholder="Password" name="pass" formControlName="pass">
    <mat-hint align="end" *ngIf="erroMsg('pass')">Password is required</mat-hint>
    <mat-hint *ngIf="">Password is not strong </mat-hint>
  </mat-form-field>
  <mat-form-field class="input-width">
			<input matInput type="password" placeholder="Confirm Password" name="confirm" formControlName="confirm">
      <mat-hint align="end" *ngIf="erroMsg('confirm')">Confirm Password is must</mat-hint>
    <mat-hint *ngIf="passMatch('confirm','pass')" >Password Don't Match</mat-hint>
  </mat-form-field>
  <div class="wrap-btn">
  <button type="submit" class="registerBtn" (click)="reactiveSubmit()">Register</button>
  <button type ="button" class="loginBtn">Login</button>
  </div>
  </form>
</div>